
4 The Win/Build/UnityCrashHandler64.exe
4 The Win/Build/MonoBleedingEdge/etc/mono/mconfig/config.xml
4 The Win/Build/MonoBleedingEdge/etc/mono/config
4 The Win/Build/MonoBleedingEdge/etc/mono/browscap.ini
4 The Win/Build/MonoBleedingEdge/etc/mono/4.5/web.config
4 The Win/Build/MonoBleedingEdge/etc/mono/4.5/settings.map
4 The Win/Build/MonoBleedingEdge/etc/mono/4.5/machine.config
4 The Win/Build/MonoBleedingEdge/etc/mono/4.5/DefaultWsdlHelpGenerator.aspx
4 The Win/Build/MonoBleedingEdge/etc/mono/4.5/Browsers/Compat.browser
4 The Win/Build/MonoBleedingEdge/etc/mono/4.0/web.config
4 The Win/Build/MonoBleedingEdge/etc/mono/4.0/settings.map
4 The Win/Build/MonoBleedingEdge/etc/mono/4.0/machine.config
4 The Win/Build/MonoBleedingEdge/etc/mono/4.0/DefaultWsdlHelpGenerator.aspx
4 The Win/Build/MonoBleedingEdge/etc/mono/4.0/Browsers/Compat.browser
4 The Win/Build/MonoBleedingEdge/etc/mono/2.0/web.config
4 The Win/Build/MonoBleedingEdge/etc/mono/2.0/settings.map
4 The Win/Build/MonoBleedingEdge/etc/mono/2.0/machine.config
4 The Win/Build/MonoBleedingEdge/etc/mono/2.0/DefaultWsdlHelpGenerator.aspx
4 The Win/Build/MonoBleedingEdge/etc/mono/2.0/Browsers/Compat.browser
4 The Win/Build/MonoBleedingEdge/EmbedRuntime/MonoPosixHelper.dll
4 The Win/Build/MonoBleedingEdge/EmbedRuntime/mono-2.0-bdwgc.dll
4 The Win/Build/4 The Win_Data/sharedassets6.assets.resS
4 The Win/Build/4 The Win_Data/sharedassets6.assets
4 The Win/Build/4 The Win_Data/sharedassets5.assets
4 The Win/Build/4 The Win_Data/sharedassets4.assets
4 The Win/Build/4 The Win_Data/sharedassets3.assets.resS
4 The Win/Build/4 The Win_Data/sharedassets3.assets
4 The Win/Build/4 The Win_Data/sharedassets2.assets.resS
4 The Win/Build/4 The Win_Data/sharedassets2.assets
4 The Win/Build/4 The Win_Data/sharedassets1.assets
4 The Win/Build/4 The Win_Data/sharedassets0.assets
4 The Win/Build/4 The Win_Data/resources.assets
4 The Win/Build/4 The Win_Data/Plugins/x86_64/lib_burst_generated.dll
4 The Win/Build/4 The Win_Data/Managed/UnityEngine.UI.dll
4 The Win/Build/4 The Win_Data/Managed/Unity.VisualScripting.State.dll
4 The Win/Build/4 The Win_Data/Managed/Unity.VisualScripting.Flow.dll
4 The Win/Build/4 The Win_Data/Managed/Unity.VisualScripting.Core.dll
4 The Win/Build/4 The Win_Data/Managed/Unity.Timeline.dll
4 The Win/Build/4 The Win_Data/Managed/Unity.TextMeshPro.dll
4 The Win/Build/4 The Win_Data/Managed/Unity.Services.Core.Threading.dll
4 The Win/Build/4 The Win_Data/Managed/Unity.Services.Core.Telemetry.dll
4 The Win/Build/4 The Win_Data/Managed/Unity.Services.Core.Scheduler.dll
4 The Win/Build/4 The Win_Data/Managed/Unity.Services.Core.Registration.dll
4 The Win/Build/4 The Win_Data/Managed/Unity.Services.Core.Networking.dll
4 The Win/Build/4 The Win_Data/Managed/Unity.Services.Core.Internal.dll
4 The Win/Build/4 The Win_Data/Managed/Unity.Services.Core.Environments.Internal.dll
4 The Win/Build/4 The Win_Data/Managed/Unity.Services.Core.Environments.dll
4 The Win/Build/4 The Win_Data/Managed/Unity.Services.Core.dll
4 The Win/Build/4 The Win_Data/Managed/Unity.Services.Core.Device.dll
4 The Win/Build/4 The Win_Data/Managed/Unity.Services.Core.Configuration.dll
4 The Win/Build/4 The Win_Data/Managed/Unity.Services.Core.Analytics.dll
4 The Win/Build/4 The Win_Data/Managed/Unity.Mathematics.dll
4 The Win/Build/4 The Win_Data/Managed/Unity.InternalAPIEngineBridge.001.dll
4 The Win/Build/4 The Win_Data/Managed/Unity.Burst.dll
4 The Win/Build/4 The Win_Data/Managed/Unity.2D.Tilemap.Extras.dll
4 The Win/Build/4 The Win_Data/Managed/Unity.2D.SpriteShape.Runtime.dll
